.list{
    
    outline: solid 1px green;
  
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
   display: flex;
   width: 800px;
  
   padding: 0;
   list-style: none;
}
.item{
flex-basis: calc(100% / 2);
    /* width: 249px; */
background-color: yellowgreen;
}

.link{
    color: black;
    text-decoration: none;
    padding: 10px;
}
.link{
    font-size: 24px;
}
